<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Home</title>
		<link rel="stylesheet" href="{{ asset('css/app.css') }}">
	</head>

	<body>
		<h1>Bienvenue 👋</h1>
</html><br>{% if user %}
<p>Connecté en tant que :
	{{ user.email }}</p>

<a href="/logout">Logout</a>{% else %}
<a href="/login">Login</a>
|
<a href="/register">Register</a>{% endif %}</body></html>
